.git/
.github/
.gitignore

.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

**/bin/
**/obj/

**/TestResults/
ArtemisBank.Tests/

*.log

Dockerfile*
docker-compose*
.dockerignore

README.md
INTEGRANTES Y LOGINS DE PRUEBA.txt
*.md
*.txt